.logo-img img{
    width: 150px;
  }
  
  
  
  
  .navbar-toggler {
    /* color: var(--link-color); */
    width: 20px;
    height: 20px;
    position: relative;
    transition: 0.5s ease-in-out;
  }
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
  }
  
  .navbar-toggler span{
    margin: 0;
    padding: 0;
  }
  
  .toggler-icon{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  .middle-bar{
    margin-top: 0px;
  }
  .navbar-toggler .top-bar{
    margin-top: 0px;
    transform: rotate(135deg);
  }
  .navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .navbar-toggler .bottom-bar{
    margin-top: 0px;
    transform: rotate(-135deg);
  }
  .navbar-toggler.collapsed .top-bar{
    margin-top: -20px;
    transform: rotate(0deg);
  }
  .navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .navbar-toggler.collapsed .bottom-bar{
    margin-top: 20px;
    transform: rotate(0deg);
  }
  
  .menu_wrapper .navbar-brand {
    font-size: 25px !important;
    font-weight: 650;
    color: orange;
    /* -webkit-text-stroke: var(--small-text-color) 0.001px; */
  }
  
  .menu_wrapper .navbar-nav .nav-item {
    margin: 0 8px;
    /* line-height: 70px; */
  }
  .menu_wrapper .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: 600;
    color: black;
    display: block;
    line-height: 55px;
    
  }
  .nav-group-item{
    text-decoration: none;
    list-style: none;
    /* display: flex;  
    flex-direction: column; */
    color: black;
  
  }
  
  .menu_wrapper .navbar-nav .nav-link:hover {
    color: #02b0f3;
    
  }
  
  .menu_wrapper .dropdown-menu .dropdown-item {
    margin-bottom: 5px;
    cursor: pointer;
  }
  /* ul.dropdown.shadow.show {
    background-color: var(--footer-bg);
  } */
  
  .menu_wrapper .dropdown-menu .list-group-item:hover{
      color:  #02b0f3;
   
      text-decoration: none;
  
    }
    a{
    text-decoration: none;
  }
  
  .menu_wrapper .navbar-nav .dropdown-menu{
      /* width: 20%; */
  
  
      /* z-index: 99; */
  
      /* right: 60%; */
      transform: translate(250%); 
      
     
  
  }
  .menu_wrapper .dropdown-mega h5{
      padding-bottom: 1px;
      margin: 0;
      color: yellowgreen;
  }
  .menu_wrapper .list-group-item{
      font-size: 13px;
      font-weight: 600;
      /* color: var(--link-color);   */
    color: rgb(44, 44, 44);
      border: 0px; 
      padding: 0px 0px 50px 0px !important;
      border-bottom: 1px solid rgba(128, 128, 128, 0.112) !important;
      
      /* width: 100vw !important;
      background-color: red; */
      /* margin-left: 0 !important; */
      /* border-radius: 5px; */
  }
  .menu_wrapper .list-group-item:hover{
      color: var(--primary-color);
  }
  .menu_wrapper .btn{
      background-color: lightblue;
      color: white;
      transition: 0.2s;
  }
  .menu_wrapper .btn:hover{
      background-color: lightblue;
      color: green;
  }
  div.dropdown-menu.shadow.show{
    background-color: rgb(54, 49, 49);
    box-shadow: 1px 1px 5px 1px grey!important;
  }
  
  a.list-group-item{
    background-color: var(--body-bg);
    height: 35px;
    line-height: 35px;
  }
  
  .toggle span{
    padding-right: 20px;
    color: grey;
    cursor: pointer;
  }
  @media (max-width: 991px){
      .menu_wrapper .navbar-brand{
          font-size: 30px;
      }
      .menu_wrapper .navbar-nav .nav-item{
          margin: 5px 10px;
      }
  
  }
  
  @media only screen and (max-width: 992px) {
    .dropdown-menu.show {
      max-height: 180px;
      overflow-y: scroll;
    }
  }
  @media (max-width:990px){
    .toggle{
        margin-bottom: 8px;
        padding-left: 8px;
    }
  }
  .header_shrink{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #ffffff;
    box-shadow:  rgba(0, 0, 0, 0.06) 0px 12px 6px 0px ;
  }
  /* .light-theme .header_shrink{
   background: var(--footer-bg);
  }
   */
  
  
    @media screen and (min-width:993px){
      .dropdown .dropdown-menu.show{
        display: none !important;
      }
      .dropdown:hover .dropdown-menu{
        display: block !important;
        left: 0;
        top: 75px;
      }
      /* .dropdown:focus .dropdown-menu{
        display: block !important;
      }
      .dropdown-hover:hover>.dropdown-menu {
        display: inline-block;
        } */
        
        .dropdown-hover>.dropdown-toggle:active {
        pointer-events: none;
         } 
    } 
  
  
    .dropdown:hover > .dropdown-menuu{
      display: block;
    }
  
  
  
  
  
  
  
    div.dropdown-menu.shadow{
      background-color: var(--body-bg);
    }
  
  
  
  /* .............................................pluss icom   .................................................................. */
  
  .plus-toggle {
  display: none;
  }
  @media (max-width: 992px) {
  .plus-toggle {
    display: block;
  }
  
  .down_arrow {
    display: none;
  }
  .menu_wrapper .navbar-nav .nav-link {
    line-height: 30px;
  }
  }
  
  
  
    .bgWhatwedo{
      display: block !important;
    }
    .smWhatwedo{
      display: none !important;
    }
    /* # Tablet */
    @media (min-width: 768px) and (max-width: 1024px){
      .bgWhatwedo{
        display: none !important;
      }
      .smWhatwedo{
        display: block !important;
      }
    }
      /* mobile View Starts here */
      @media only screen and (max-width: 600px) {
        .bgWhatwedo{
          display: none !important;
        }
        .smWhatwedo{
          display: block !important;
        }
      }
      /* mobile View ends here */
  
  
  
      .just-container{
        width: 100% !important;
        background: red !important;
      }
  
  
  
  
  
  /* CSS */
  .button-87 {
  margin: 10px;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 100px;
  display: block;
  border: 0px;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  .button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  }
  
  .button-87:active {
  transform: scale(0.95);
  }
  
  
  .mobile-nav-links {
    font-size: 13px;
    display: flex;
    flex-direction: column;
  
    color: var(--link-color);
    padding-top: 5px;
    padding-left: 5px;
  
  }
  .mobile-nav-linkss {
    font-size: 13px;
    display: flex;
    flex-direction: column;
  
    color: var(--link-color);
    padding-top: 5px;
    padding-left: 20px;
  
  }
  
  @media (min-width: 992px) {
    .mobile-nav-links ,.mobile-nav-linkss {
      display: none;
    }
  }
  
  
  .dropdown:hover .drop-hover{
    display: none;
  }
  
  .submenu:hover .drop-hover{
    display: block !important;
    background-color: white;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 5px;
  }
  
  .dropdown-menus{
    position: absolute;
    left: 95%;
    width: 80%;
  
    
    top: 0%;
  }
  
  .plusicon{
    display: flex;
    justify-content: space-between;
  }
  
  
  
  
  
  